@font-face {
    font-family: 'Nagbuloe';
    src: url(../../assets/fonts/nagbuloe_bold.woff);
    font-weight: bold;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nagbuloe';
    src: url(../../assets/fonts/nagbuloe_outline_bold.woff);
    font-weight: bolder;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nagbuloe';
    src: url(../../assets/fonts/nagbuloe_regular.woff);
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nagbuloe';
    src: url(../../assets/fonts/nagbuloe_thin.woff);
    font-weight: 200;
    font-display: swap;
  }

  
:root {
  --half-pearl-lusta-bg-txt: #f1e9d7;
  --pastel-orange-txt: #d4a665;
  --black-orange-bg: #212121;
  --black-btn: #000000;
  --dark-text: #212121;
}

.banner {
    height: 230vh;
    width: 100%;
    padding: 1.2rem;
    padding-right: 2rem;
    background-color: var(--half-pearl-lusta-bg-txt);
}

.banner-heading {
    position: sticky;
    top: 30%;
    margin-bottom: 8%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.banner-heading h1 {
    font-size: 7.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 0.9;
    /* background-color: #d4a665; */
}

.circle {
    position: absolute;
    /* background-color: aqua; */
    top: 25%;
    left: 11.5%;
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 0.8rem;
    top: 50%;
    right: 2rem;
}

.scroll p {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    writing-mode: vertical-lr;
}
